.nodered/.flows_hades-ubuntu.json.backup
[{"id":"0d35bbcc20027172","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"1cc7fbce789f18d6","type":"inject","z":"0d35bbcc20027172","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":80,"wires":[["d37543fc43dc2196"]]},{"id":"a2496777fd4ab68e","type":"http in","z":"0d35bbcc20027172","name":"","url":"/sendToDiscord/:filename","method":"get","upload":false,"swaggerDoc":"","x":180,"y":280,"wires":[["d37543fc43dc2196"]]},{"id":"32994c56edc8c618","type":"http response","z":"0d35bbcc20027172","name":"out","statusCode":"200","headers":{},"x":650,"y":180,"wires":[]},{"id":"d37543fc43dc2196","type":"function","z":"0d35bbcc20027172","name":"send to discord","func":"\n\nconsole.log(JSON.stringify(msg.req.params))\nconsole.log(\"sending message to discord\")\n\nconsole.sendMessage(\"you got a like :-)\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":180,"wires":[["32994c56edc8c618"]]}]